doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Colorize
    link(rel='stylesheet', href='./css/a.css')
  body
    h1 Colorize

    #controls
      input#colors(type='text')
      button#colorize Colorize

    #output

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/a.js')
