doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Flip
    link(rel='stylesheet', href='./css/b.css')
  body
    h1 Flip

    #controls
      button#coinFlip Flip

    #output
      #count
        .heads
        .tails
      #labels
        .heads Heads
        .tails Tails
      #percent
        .heads
        .tails

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/b.js')
