doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Square It
    link(rel='stylesheet', href='./css/c.css')
  body
    h1 Square It!

    #controls
      input#numbers(type='text')
      button#squareIt Square It!

    #output
      div.labels Evens
        #evens
      div.labels Odds
        #odds

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/c.js')
